
$slate-50: #f8fafc;
$slate-100: #f1f4f9;
$slate-200: #e2e8f0;
$slate-300: #cbd5e1;
$slate-400: #94a3b8;
$slate-500: #64748b;
$slate-600: #475569;
$slate-700: #334155;
$slate-800: #1e293b;
$slate-900: #0f172a;
$slate-950: #020617;
$header-height: 3rem;
$wide-letter-space: 0.1rem;
$grid-col-number: 8;
$point-color: #ffa500;


body {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    margin: 0;
    margin-bottom: 1rem;
}

a:link {
    text-decoration: none;
    color:#000;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2px;

    &::after {
        content: '';
        background: center / contain no-repeat url('/assets/img/icon/newWindow.svg');
        width: 1.2rem;
        height: 1.2rem;
        display: inline-block;
    }

    &:hover {
        text-decoration: underline;
    }
}

a:visited {
    text-decoration: none;
    color:#000;
}

button {
    cursor: pointer;
}


.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

header {
    height: 2.5rem;
    width: 100%;
    transition: all 0.5s ease;
    position:fixed;
    top:0;
    left: 0;
    background-color: #fff;
    overflow: hidden;
    
    .container {
        height: 2.5rem;
        display:flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 auto;
    }

    &.on {
        background-color: #2c2c2c;
        color: #fff;
        height: 20rem;
        max-height: 100vh;
        .menu-btn {
            background: center / contain no-repeat url('/assets/img/icon/close.svg');
        }

        .menu-items {
            opacity: 1;
            
        }
    }


    .logo {
        letter-spacing: $wide-letter-space;
        font-size: larger;
    }

    .menu-btn {
        position:absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        width: 2rem;
        height: 2rem;
        border: 0;
        background-color: transparent;
        padding: 0;
        background: center / contain no-repeat url('/assets/img/icon/menu.svg');

        img {
            width: 100%;
            height: 100%;
        }
    }

    .menu-items {
        height: 17.5rem;
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size:xx-large;
        }
        .menu-item {
            &:not(:last-child) {
                padding-bottom: 1rem;
            }

            &:hover {
                color: $point-color;
            }
        }


    }
}

.content-container {
    margin-top: 2.5rem;
}

footer {
    width: 100%;
    height: 7rem;
    display:flex;
    align-items: center;
    justify-content: center;
}

.blind {
    display: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
}


@import 'font';
@import 'portfolio'
