.portfolio-grid {
    display: grid;
    grid-template-columns: $grid-col-number;
}

.section-container {
    border-bottom: 2px solid #000;
    margin: 0 16px;
    padding: 1.5rem 0; 
}

.content-wrapper {
    .content-item {
        display:flex;
        gap: 1rem;

        &:not(:last-child) {
            padding-bottom: 16px;
        }
        .title {
            min-width: 6rem;
            color:#ffa500;
        }
        .content {
            .detail {
                padding-left: 8px;
                padding-top: 4px;
                display:flex;
                gap: 4px;
                &::before {
                    content: '↳ ';
                    display: block;
                }
                .detail-content {
                    font-size:small;

                    span {
                        display:flex;
                        gap:4px;

                        &::before {
                            content: "-";
                            display:block;

                        }
                    }
                    
                }
                li {
                    &:not(:last-child) {
                        padding-bottom: 8px;
                    }
                }
            }  
        }
    }
}


@media all and (max-width: 767px) {
    .content-item {
        display:flex;
        flex-direction: column;
        .title {
            margin-bottom: -1rem;
        }
        
    }
}