.blog-container {
    .blog-title {
        text-align: center;
        font-weight: 500;
        font-size: larger;
        padding: 3rem 0;
    }

    .blog-date {
        text-align: end;
        font-size: small;
        color: $gray-500;
    }

    .blog-content {
        margin-top: 3rem;
    }
}
