.blog-container {
    .blog-title {
        text-align: center;
        font-weight: 500;
        font-size: larger;
        padding: 3rem 0;
    }

    .blog-date {
        text-align: end;
        font-size: small;
        color: $gray-500;
    }

    .blog-content {
        margin-top: 1rem;

        h1, h2, h3, h4 {
            margin: 0 0 0.5rem 0;
            padding: 0
        }

        p {
            margin: 0 0 1.5rem 0;
            padding: 0;
            line-height: 180%;
        }

        h1 {
            font-size:medium;
            font-weight: 500;
            color: $point-color;
        }

        .blog-img {
            width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

     
    }
}
