<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{'/assets/css/index.css'}}">
        <script type="text/javascript" src="{{'/assets/js/main.js'}}"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/themes/prism-tomorrow.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/prism.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-python.min.js" integrity="sha512-AKaNmg8COK0zEbjTdMHJAPJ0z6VeNqvRvH4/d5M4sHJbQQUToMBtodq4HaV4fa+WV2UTfoperElm66c9/8cKmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-typescript.min.js" integrity="sha512-uOw7XYETzS/DPmmirpP5UCMihSDNMeyTS965J0/456OSPfxn9xEtHHjj5Q/5WefVdqyMfN/afmQnNpZd/tpkcA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-javascript.min.js" integrity="sha512-jwrwRWZWW9J6bjmBOJxPcbRvEBSQeY4Ad0NEXSfP0vwYi/Yu9x5VhDBl3wz6Pnxs8Rx/t1P8r9/OHCRciHcT7Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <!-- 헤더 -->
        <header id="menu">
            <div class="container">
                <div class="logo">
                    {{  page.title  }}
                </div>
                <button type="button" id="menu-btn" class="menu-btn">
                    <span class="blind">메뉴</span>
                </button>
            </div>
            <div class="container menu-items">
                <ul>
                    <li class="menu-item"><a href="/">resume</a></li>
                    <li class="menu-item"><a href="/pf">portfolio</a></li>
                    <li class="menu-item"><a href="/blog">blog</a></li>
                </ul>
            </div>
        </header>
        <div class="container">
            
            <!-- 컨텐츠 -->
            <div class="content-container">
                <div class="section-container blog-container">
                    <div class="blog-title">{{  page.subTitle  }}</div>
                    <div class="blog-date">{{  page.date | date: "%B %d, %Y" }}</div>
                    <div class="blog-content">
                        {{content}}
                    </div>
                </div>
            </div>
            <!-- 푸터 -->
            <footer>
                <span>ⓒ 2024. readymadelife All rights reserved.</span>
            </footer>
        </div>
    </body>
</html>